@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

  
  /*navbar*/
.navbar{ 
  background-color: rgba(173, 216, 230, 0.721);
}

  .navbar a:hover {
    background-color: rgba(0, 0, 0, 0.356); /* couleur bouttons quand souris passe dessus */
    text-decoration-color: lightblue; /* couleur du texte quand souris passe dessus*/ 

  }

  .navbar-toggler{
background-color: lightblue; 
}

h1{
  color: black;
  font-family: 'Oswald', cursive;
}

.pdp_navbar{
  position: relative;
  float: left;
  border: 4px solid;
  border-color: black;
  border-radius: 50%;
  width: 4%;
}


/*titre intro*/
@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform : translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

#big-dayen{
  font-size: 100%;
  font-family: 'Oswald', cursive;
}


#titre_intro {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 450%;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#titre_intro:before,
#titre_intro:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 110%;
  top: 50%;
  display: block;
  border: 15px solid;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

#titre_intro:before {
  border-color: lightblue lightblue rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

#titre_intro:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) lightblue lightblue;
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}




#mainmenu{
  color: lightblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




/*body*/
body {
  background-image: url('/IMG/background\ bulle.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}



  
#modal {
  border-radius: 50%;
}

#moi-modal {
  align-items: center;
  width: 50%;
  border-radius: 50%;
  border: 5px solid;
  border-color: lightblue;
  filter: drop-shadow(0 0 0.75rem azure); 
  color: transparent;
  transition: all 0.5s;
}

#moi-modal:hover {
  color: lightblue;
  text-shadow:none;
}



#texte-modal{
  font-family: 'Oswald', cursive;
  color: lightblue;
  float: right;
  padding-top: 12%;
  color: transparent;
  text-shadow: 0 0 5px azure;
  transition: all 0.5s;
}
#texte-modal:hover {
  color: lightblue;
  text-shadow:none;
}


#background-video {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;

}




/*sections*/
#section_profil{
  /* padding-top: 2%;   */
  background-color: lightblue;
  color: black;
  font-family: 'Oswald', cursive;

}

#section_expérience{
  padding-top: 2%;  
  background-color: lightblue;
  color: black;
  font-family: 'Oswald', cursive;

}

#section_contact{
  padding-top: 2%;  
  background-color: lightblue;
  color: black;
  font-family: 'Oswald', cursive;

}



/* Bouton retour en haut */
.btn_retour {
  scroll-behavior: smooth;
  height: 46px;
  width: 46px;
  border-radius: 50%;
  display: flex;
  background: lightblue;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.btn_retour2 {
  height: 46px;
  width: 46px;
  border-radius: 70%;
  display: flex;
  background: rgb(7, 17, 20);
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 40px;
  bottom: 20px;
  cursor: pointer;
}

.icone {
  width: 50px;
}






/*contact*/
.btnC {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.btnC {
  border-radius: 20px;
	width: 280px;
	height: 50px;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: blue;
	background-image: linear-gradient(315deg, azure 10%, rgb(0, 116, 155) 54%);
	background-size: 200% 100%;
	background-position: left;
	background-repeat: no-repeat;
	transition: 500ms;
}

.btnC:before {
  border-radius: 10px;
	color: rgba(255, 255, 255, 0.703);
	font-size: 16px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 40px;
	background-color: blue;
  background-image: linear-gradient(315deg, azure 10%, rgb(0, 116, 155) 54%);
	transition: 500ms;
}

.btnC:hover {
	background-position: right;
}

.btnC:hover:before {
	color: rgba(255, 255, 255, 0.849);
}

.btnC:focus {
	outline: none;
}



.btn_github {
  color:azure;
}

.logo_github{
  height: 60%;
}

.btn_linkedin{
  color: azure;
}

.logo_linkedin{
  height: 60%;
}





/*scrollbar */
body::-webkit-scrollbar {
  width: 15px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 56.5px lightblue;
  
}
 
body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  outline: 3px solid lightblue;
}



/*footer*/
#linkedin{ 
  place-content: center;
}


#copyright {
  background-color: rgb(123, 197, 222);
}
